@import '../global/mixins.scss';

/*******************************
    Header
********************************/
.header {
    height: 75vh;
    background: var(--bg-gradient);

    &--static {
        height: 20vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: calc(max(calc(24vw - var(--size-menu-height) - (((1500 / 4000) * (64vw - var(--size-menu-width))) / 2)), 120px));
        z-index: 2;
        margin: 0 20px 0 calc(var(--space-xl) + var(--size-menu-width));
        border: 1px solid red;
        padding: 0 0 var(--space-sm) 20px;
    }

    #cloud {
        position: absolute;
        top: 0;
        z-index: 0;
    }

    h1 {
        margin: 20px auto;
        color: var(--text-primary);
        letter-spacing: 0.05em;
        font-family: var(--font-head);
        font-weight: bold;
        font-size: 64px;
    }

    .small {
        font-family: var(--head-accent);
        font-style: italic;
        font-weight: normal;
        font-size: 30px;
        color: var(--text-secondary);
    }


    #mountains {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .mountains1 {
            fill: rgba(var(--mountain1),0);
        }

        .mountains2 {
            fill: rgba(var(--mountain2),1);
        }

        .mountains3 {
            fill: rgba(var(--mountain3),1);
        }

        .mountains4 {
            fill: rgba(var(--mountain4),1);
        }

        .mountains5 {
            fill: rgba(var(--mountain5),1);
        }

        .mountains6 {
            fill: rgba(var(--mountain6),1);
        }

        .mountains7 {
            fill: rgba(var(--mountain7),1);
        }

        .mountains8 {
            fill: rgba(var(--mountain8),1);
        }

        .mountains9 {
            fill: rgba(var(--mountain9),1);
        }

        .mountains10 {
            fill: crimson;
        }

        .mountains11 {
            fill: rgba(var(--mountain11),1);
        }

        .mountains12 {
            fill: blue;
        }

        .mountains13 {
            fill: rgba(var(--mountain13),1);
        }

        .mountains14 {
            fill: rgba(var(--mountain14),1);
        }

        .mountains15 {
            fill: rgba(var(--mountain15),1);
        }

        .mountains16 {
            fill: rgba(var(--mountain16),1);
        }

        .mountains17 {
            fill: rgba(var(--mountain17),1);
        }

        .mountains18 {
            fill: rgba(var(--mountain18),1);
        }

        .mountains19 {
            fill: rgba(var(--mountain19),1);
        }

        .mountains20 {
            fill: rgba(var(--mountain20),1);
        }

        .mountains21 {
            fill: rgba(var(--mountain21),1);
        }

        .mountains22 {
            fill: rgba(var(--mountain22),1);
        }

        .mountains23 {
            fill: rgba(var(--mountain23),1);
        }
    }
}