@import '../global/mixins.scss';

/*******************************
    Header
********************************/
.header {
    position: relative;
    height: 75vh;
    background: var(--bg-gradient);
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--static {
        position: fixed;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.2s ease-out;
        will-change: opacity;
        // top: max(calc(30vw - var(--size-menu)));
        // margin: 0 20px 0 calc(var(--space-xl) + var(--size-menu));
        // padding: 0 0 var(--space-sm) 20px;
    }

    #cloud {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--text-primary);
        letter-spacing: 0.05em;
        font-family: var(--font-head);
        font-weight: bold;
        font-size: 64px;
        margin: 0;
        line-height: 45%;
        bottom: 80%;
    }

    .small {
        font-family: var(--head-accent);
        font-style: italic;
        font-weight: normal;
        font-size: 30px;
        color: var(--text-secondary);
    }

    .title {
        font-size: inherit;
        left: 10px;
    }


    #mountains {
        position: absolute;
        bottom: 0;
        left: 0;

        .mountains1 {
            fill: rgba(var(--mountain1),0);
        }

        .mountains2 {
            fill: rgba(var(--mountain2),1);
        }

        .mountains3 {
            fill: rgba(var(--mountain3),1);
        }

        .mountains4 {
            fill: rgba(var(--mountain4),1);
        }

        .mountains5 {
            fill: rgba(var(--mountain5),1);
        }

        .mountains6 {
            fill: rgba(var(--mountain6),1);
        }

        .mountains7 {
            fill: rgba(var(--mountain7),1);
        }

        .mountains8 {
            fill: rgba(var(--mountain8),1);
        }
    }
}