@import '../global/mixins.scss';

/*******************************
    Navigation
********************************/

.nav {
    display: flex;
    position: fixed;
    font-size: var(--size-xs);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: var(--bg-secondary);
    align-items: center;
    z-index: 10;

    &--top,
    &--bottom {
        left: calc(var(--size-menu) - 1px);
        width: calc(100% - (2 * var(--size-menu)) + 1px);
        height: var(--size-menu);
        display: flex;
        z-index: 11;
    }

    &--top {
        top: 0;
        border-bottom: 1px solid var(--border-secondary);
    }

    #navstrip {
        flex: 0 0 auto;
        padding: 0 var(--space-sm);
        border-left: 1px solid var(--border-primary);
        border-right: 1px solid var(--border-primary);
        height: max-content;
        line-height: 160%;
        display: flex;
        flex-wrap: wrap;
        max-width: calc(100% - var(--size-menu));
    }

    &--left {
        top: 0;
        left: 0;
        width: var(--size-menu);
        height: 100vh;
        flex-direction: column;
        padding: calc(var(--size-menu) / 2) 0 0;
        border-right: 1px solid var(--border-secondary);
    }

    &--right {
        top: 0;
        right: 0;
        width: var(--size-menu);
        height: 100vh;
        flex-direction: column;
        padding: 0 calc(var(--size-menu) / 2) 0;
        border-left: 1px solid var(--border-secondary);
    }

    &--bottom {
        bottom: 0;
        border-top: 1px solid var(--border-secondary);
    }
}